* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
}
body {
    background-color: #d9dcd6;
}
a {
    text-decoration: none;
}
p {
    font-size: 16px;
}
h2 {
    margin-bottom: 20px;
    font-size: 36px; 
}
img {
    max-height: 200px;
}

/* HEADER STYLE START */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}
header h1 .seo {
    color: #8b8d8a;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* HEADER STYLE END */

/* HERO START */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* HERO END */

/* BODY CONTENT START */
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.features {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}
/* BODY CONTENT END */

/* BENEFITS SIDE BAR START */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
.benefit {
    margin-bottom: 32px;
}
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* BENEFIT SIDEBAR END */

/* FOOTER START */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
footer h4 {
    font-size: 20px;
}
/* FOOTER END */
